<%= form_with model: pothole, local: true do |form| %>

    <div class = 'field'>
        <%= form.label :name%>
        <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class ="field">
   		<%= form.label :latitude %>
   		<%= form.text_field :lat, class: 'form-control' %>
	</div>
	
	<div class ="field">
   		<%= form.label :longitude %>
   		<%= form.text_field :lon, class: 'form-control' %>
	</div>

	<div class = 'field'>
    	<%= form.label :verified %>
    	<%= form.select :verified,( ['false','true'])%>
    </div>

  <div class = "field">
      <%= form.label :photo %>
      <%= form.file_field :photo %>
      <br>
      <p>
      <%if @pothole.photo_filename?%>
      <%= image_tag("/potholes/#{@pothole.id}/photo/#{@pothole.photo_filename}", width: "500")%>
      <%end%>
      <% unless @pothole.photo_filename?%>
      <b>No photo available.</b>
      <%end%>
      </p>
  </div>

    <div class = 'action'>
        <%= form.submit 'Edit pothole', class: 'btn btn-primary' %>
    </div>
<% end %>