<%if user_signed_in? && User.find_by(id: current_user.id).theme? %>
<link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.css"/>
<%end%>

<main role="main" class="container">

<h1> Submit a pothole </h1>

<%= form_with model: @Pothole, local:true do |form| %>

<div class ="field">
   <%= form.label :name %>
   <%= form.text_field :name, class: 'form-control' %>
</div>
<div class ="field">
   <%= form.label :latitude %>
   <%= form.text_field :lat,:value => params[:lat], class: 'form-control' %>
</div>
<div class ="field">
   <%= form.label :longitude %>
   <%= form.text_field :lon,:value => params[:lon], class: 'form-control' %>
</div>

<div class="action">
  <%= form.submit 'Submit pothole', class: 'btn btn-primary'%>
  </div>
<% end %>

</main>