
<main role="main" class="container">
   
    <p>
        <b> Name: </b> <%= @pothole.name%>
    </p>
     <p>
        <b> Rating: </b> <%= @pothole.rating%>
    </p>
    <p>
        <b> Latitude: </b> <%= @pothole.lat%>
    </p>
    <p>
        <b> Longitude: </b> <%= @pothole.lon%>
    </p>

    <%= link_to 'Home', home_path%>
</main>