<%if user_signed_in? && User.find_by(id: current_user.id).theme? %>
<link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.css"/>
<%end%>

<main role="main" class="container">
   
    <p>
        <b> Name: </b> <%= @pothole.name%>
    </p>
     <p>
        <b> Rating: </b> <%= @pothole.rating%>
    </p>
    <p>
        <b> Latitude: </b> <%= @pothole.lat%>
    </p>
    <p>
        <b> Longitude: </b> <%= @pothole.lon%>
    </p>
    <p>
        <b> Verify: </b> <%= @pothole.verified%>
    </p>
    <!--<p>
        <b> Duplicate: </b> <%= @pothole.duplicate%>
    </p>-->
    <p>
        <b> Fixed: </b> <%= @pothole.fixed%>
    </p>

    <%if @pothole.photo_filename?%>
    <p>
    <%= image_tag("/potholes/#{@pothole.id}/photo/#{@pothole.photo_filename}", width: "500")%>
    </p>
    <%end%>
    <%unless @pothole.photo_filename?%>
    <p>
        <b>No photo available.</b>
    </p>
    <%end%>


    <% if user_signed_in? %>
    <!--<%= link_to 'Mark Duplicate', duplicate_path %> |-->
    <%= link_to 'Edit Pothole', edit_pothole_path %> |
    <%= link_to 'Edit Name', edit_name_path %> |
    <% end %>
    <%= link_to 'Home', home_path, data: { turbolinks: false } %>
</main>