<main role="main" class="container">
   
    <p>
        <b> Name: </b> <%= @pothole.name%>
    </p>
     <p>
        <b> Rating: </b> <%= @pothole.rating%>
    </p>
    <p>
        <b> Latitude: </b> <%= @pothole.lat%>
    </p>
    <p>
        <b> Longitude: </b> <%= @pothole.lon%>
    </p>
    <p>
        <b> Verify: </b> <%= @pothole.verified%>
    </p>
    <p>
        <b> Duplicate: </b> <%= @pothole.duplicate%>
    </p>

    <% if user_signed_in? %>
    <%= link_to 'Mark Duplicate', duplicate_path %> |
    <%= link_to 'Edit Pothole', edit_pothole_path %> |
    <%= link_to 'Edit Name', edit_name_path %> |
    <% end %>
    <%= link_to 'Home', home_path, data: { turbolinks: false } %>
</main>