<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>

<h1>Memholes</h1>

<div id="mapid" style="width: 600px; height: 400px;"></div>
<form>
Lat:<input id="lat">Lon:<input id="lon">
</form>
<script>

	var mymap = L.map('mapid').setView([35.1495, -90.0490], 13);

	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox.streets'
	}).addTo(mymap);


</script>
<script>
<% @pothole.each do |pothole| %>
	var crater<%= pothole.id %> = new L.Marker([<%= pothole.lat %>, <%= pothole.lon %>], {draggable: true, clickable: true});
	crater<%= pothole.id %>.bindPopup("<%= pothole.name %>");
	crater<%= pothole.id %>.addTo(mymap);

	crater<%= pothole.id %>.on('click', function(){
		document.getElementById("lat").value = crater<%= pothole.id %>.getLatLng().lat;
		document.getElementById("lon").value = crater<%= pothole.id %>.getLatLng().lng;
	});

	crater<%= pothole.id %>.on('dragend', function(){
		document.getElementById("lat").value = crater<%= pothole.id %>.getLatLng().lat;
		document.getElementById("lon").value = crater<%= pothole.id %>.getLatLng().lng;
	});

<% end %>
</script>

<script>


</script>